@import '@/styles/variables';

.root {
  display: inline-block;
  font-size: 1.375rem;
  padding-top: 15px;
  padding-bottom: 22px;
  padding-left: 35px;
  padding-right: 35px;
  color: $color_dark;
  background-color: $color_white;
  border-radius: 11px;
  box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
  transition: background-color 0.2s ease-in-out;

  &:hover {
    text-decoration: none;
    background-color: darken($color_white, 5%);
  }

  &:active {
    box-shadow: inset 0px -6px 0px rgba(0, 0, 0, 0.18);
    transform: translateY(3px) !important;
    padding-bottom: 19px;
  }
}

.yellow {
  background-color: $color_third;

  &:hover {
    background-color: darken($color_third, 5%);
  }
}

.green {
  background-color: $color_succes;

  &:hover {
    background-color: darken($color_succes, 5%);
  }
}

.full {
  display: block;
  width: 100%;
}

.small {
  font-size: 0.75rem;
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);

  &:active {
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.18);
    transform: translateY(1px);
    padding-bottom: 4px;
  }
}

@media screen and (min-width: 768px) {
  .full {
    display: inline-block;
    width: auto;
  }
}
