$color_white: #f2f2f2;
$color_dark: #212121;
$color_primary: #f2b807;
$color_second: #f28f16;
$color_third: #f5db13;
$color_danger: #d93e30;
$color_succes: #73d677;

$font_family: 'Karla', 'system-ui', '-apple-system';
$font_size_base: 16px;
$font_weight_base: 400;
$font_weight_bold: 700;

$line_height_base: 1.4;
$line_height_heading: 1.15;

$header_height_mobile: 56px;
$header_height_desktop: 94px;
$footer_height_mobile: $header_height_mobile;
$footer_height_desktop: $header_height_desktop;

$section_padding_mobile: 30px;
$section_padding_desktop: 40px;
