@import '@/styles/variables';

.root {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 20px 0;

  &__text {
    order: 1;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;

    li:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    text-align: left;
    padding: 0;
    height: $header_height_desktop;

    &__text {
      order: 0;
    }

    &__nav {
      flex-direction: row;
      justify-content: flex-start;

      li:not(:last-child) {
        margin-bottom: 0;
        margin-right: 40px;
      }
    }
  }
}
