@import '@/styles/variables';

.root {
  min-height: calc(100vh - #{$header_height_mobile});
  background: linear-gradient(180deg, #ffffff 30.32%, $color_white 100%);
  padding-top: $section_padding_mobile;
  padding-bottom: $section_padding_mobile;
}

.heading {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 40px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 2rem;
  }
}
